<!DOCTYPE html>
<html>
<head>
    <title>Steam Gaming Platform</title>

    <style>
        body{
            font-family: Arial;
            background-color: #1b2838;
            color: white;
            text-align: center;
        }

        h1{
            color:#66c0f4;
        }

        .game{
            background:#2a475e;
            margin:10px;
            padding:15px;
            border-radius:10px;
            width:200px;
            display:inline-block;
        }
    </style>

</head>
<body>

<h1>Steam Gaming Platform</h1>

<p>Steam là nền tảng phân phối game lớn nhất thế giới.</p>

<h2>Game nổi bật</h2>

<div class="game">Counter Strike 2</div>
<div class="game">Dota 2</div>
<div class="game">GTA V</div>
<div class="game">Elden Ring</div>

</body>
</html>